html, body {
    height: 100%;
}

body {
    background-image: url("../images/herringbone.png");
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 0 auto;
}

header {
    background: #ffffff;
    border-bottom: 2px solid #cccccc;
}

nav {
    float: right;
}

.navbar-brand {
    background: #4aaaa5;
    padding: 20px;
}

#main {
    margin-top: 30px;
    margin-bottom: 30px;
}

h2 {
    color: #4aaaa5;
    border-bottom: 2px solid #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#selfie {
    float: left;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 170px;
    width: 125px;
}

.image {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

img {
    width: 300px;
}

.over {
    position: absolute;
    bottom: 10px;
    background-color: #4aaaa5;
    width: 100%;    
    color: #ffffff;
    text-align: center;
    line-height: 50px;

}

footer {
    flex-shrink: 0;
    width: 100%;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    background: #666666;
    height: 50px;
    color: #ffffff;
}